img {
    width: 100%;
    border-radius: 20px;
}

#about {
    margin-top: 4rem;
}

.about__container {
    display: grid;
    grid-template-columns: 35% 50% ;
    gap: 15%;
}

#about > h1, h5 {
text-align: center;
align-items: center;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary)), transparent;
    display: grid;
    place-items: center;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
}
.about__me-image:hover {
    transform: rotate(0deg);
    transition: var(--transition);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 1.5rem;
}

.about__card {
    background-color: var(--color-bg-variant);
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 0rem 1rem 1rem 1rem ;
    text-align: center;
    line-height: 14px;
}

.about__card h5 {
    font-weight: bold;
    padding: 0;
}
.about__card small {
    color: var(--color-light)
}

.about__content p {
    margin: 0;
}

.about__card:hover {
background-color: transparent;
border-color: var(--color-primary-variant) ;
transition: var(--transition);
cursor: default;
}

.about__content p {
    color: var(--color-light);
    margin: 2rem 0 2.6rem;
}


/* ======= PLANSHET ======= */

@media screen and (max-width: 824px) {

.about__container {
    grid-template-columns: 1fr;
    gap: 0;
}

.about__me {
    width: 50%;
    margin: 2rem auto 4rem;
}

#about {
    margin-top: 17rem;
}

    }
    
 /* ======= PHONE ======= */
    
    @media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
      }