.photo {
    width: 300px;
}

.me {
    width: 300px;
    background: linear-gradient(var(--color-primary), transparent);
    border-radius: 12rem 12rem 0 0;
    margin: 10px auto 10px auto;
}

.header__container {
text-align: center;
align-items: center;
height: 100vh;
position: relative;
}

.buttons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5rem;
}

.header__socials a {
    font-size: 25px;
    color: var(--color-primary);
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    height: 2rem;
    width: 1px;
    background-color: var(--color-primary);
}

.scroll__down {
    display: flex;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    bottom: 8rem;
    font-weight: 280;
}

/* ======= PLANSHET ======= */

@media screen and (max-width: 824px) {
    header {
        height: 100vh;
    }
}


    /* ======= PHONE ======= */
    
    @media screen and (max-width: 600px) {

        header {
            height: 100vh;
        }

        .header__socials, 
        .scroll__down {
            display: none;
        }
    }; 